= form_for([:manage, @organization], :html => {:multipart => true}) do |f|
  -if @organization.errors.any?
    #error_explanation
      %h2= "#{pluralize(@organization.errors.count, "error")} prohibited this organization from being saved:"
      %ul
        - @organization.errors.full_messages.each do |msg|
          %li= msg
  .span8.pull-left.row
    %fieldset.clearfix
      .row
        = f.label :name, "Organization Name"
        .input
          = f.text_field :name
      .row
        = f.label :url, "Website URL"
        .input
          = f.text_field :url
      .row
        = f.label :email_address
        .input
          = f.text_field :email_address
      .row
        = f.label :description
        .input
          = f.text_area :description, :rows => 5
      .row
        = f.label :avatar, "Logo"
        .input
          = f.file_field :avatar
  .span8-pull-right.row
    %fieldset.clearfix
      .row
        = f.label :address_1
        .input
          = f.text_field :address_1
      .row
        = f.label :address_2
        .input
          = f.text_field :address_2
      .row
        = f.label :city
        .input
          = f.text_field :city
      .row
        = f.label :state, "State/ZipCode"
        .input
          = collection_select :organization, :state, State.all, :name, :name, :class => 'small'
          = f.text_field :zip_code, :class => 'small'
      .row
        = f.label :telephone
        .input
          = f.text_field :telephone
  .actions
    = f.submit 'Save'
