%p#notice= notice

= image_tag @organization.avatar.url

.pull-right.span-one-thirds.map-small
  = gmaps({"map_options" => {"auto_zoom" => false, "zoom" => 9},"markers" => {"data" => @map}})
.span-two-thirds
  %h3= @organization.name
  = render 'shared/address', :address => @organization
  %hr
  %p= @organization.description
  - if @organization.locations.any?
    - @organization.locations.each do |loc|
      %h4= link_to loc.name, manage_location_path(loc)
      %p= loc.description
      - if loc.venues.any?
        - loc.venues.each do |venue|
          %h5= link_to venue.name, manage_venue_path(venue)
          %p= venue.description
  - if @organization.organization_users.any?
    %h4= "#{@organization.name} Users"
    %ul
      - @organization.organization_users.each do |ou|
        %li= "#{ou.user.first_name} #{ou.user.last_name}"

= link_to 'Edit', edit_manage_organization_path(@organization)
\|
= link_to 'Back', manage_organizations_path
