- if user_signed_in?
  %ul.nav.secondary-nav
    %li.menu
      %a.menu= "#{current_user.first_name}'s Account"
      %ul.dropdown-menu
        %li 
          = link_to('Edit account', edit_user_registration_path)
        %li
          = link_to('Sign out', destroy_user_session_path, :method=>'delete', :class => "pull-right")
- else
  %ul.nav.secondary-nav
    %li
      = link_to 'Create account', new_user_registration_path
    %li.menu
      %a.menu= "Login"
      %ul.dropdown-menu
        %li 
          = form_tag user_session_path, {:class => 'span4'} do
            .span3.center
              = text_field_tag 'user[email]', nil, :placeholder => "Username", :class => "input-medium mbottom"
              = password_field_tag 'user[password]', nil, :placeholder => "Password", :class => "input-medium mbottom"
            .span3.center.mbottom
              %button.btn Login
              %small.pull-right= link_to "Forgot?", new_password_path('user')