%section.container
  %h2 Featured Fields
  .span-two-thirds.pull-left
    = gmaps4rails(@maps)
  .span-one-third.map-data-list.pull-right
    - @locations.each do |location|
      %div
        %strong= location.name
        <br>
        %span= location.description
%br
.row
  .span-one-third
    %h2= "Why FieldMonster?"
    %p= "latin also goes here"
    %p
      %a.btn= "Learn more"
  .span-one-third
    %h2= "Drive Field Utilization"
    %p= "latin also goes here"
    %p
      %a.btn= "Learn more"
  .span-one-third
    %h2= "Find Your Field"
    %p= "latin also goes here"
    %p
      %a.btn= "Learn more"