%section.container
  .span-two-thirds.pull-left
    = gmaps4rails(@maps)
  .span-one-third.map-data-list.pull-left
    - @locations.each do |location|
      %a{:href=>location_path(location)}
        %strong= location.name
        <br>
        %span= location.description
%br
%h2.align-center Lorum ipsum dolar sit amet.
%p.align-center Consectetur adipiscing elit, sed ante purus, mollis a lacinia ipsum.
.row
  .span-one-third
    .span4.center
      = render "shared/why_fieldmonster"
  .span-one-third
    = render 'searches/simple'
  .span-one-third
    .span4.center
      = render "shared/find_fields"