%section#location.container.min-height-three
  #locationDetails.pull-left.span-two-thirds
    %h2= @location.name
    = render 'shared/address', :address => @location
    %hr
    %p= @location.description
    - if @location.venues.any?
      %h3 Fields at this location:
      %ul
        - @location.venues.each do |venue|
          %li= link_to(venue.name, manage_venue_path(venue))
    - else
      %h3 There are no fields at this location.
  #locationMap.pull-right.grid-one-third.map-small
    = gmaps({"map_options" => {"auto_zoom" => false, "zoom" => 9},"markers" => {"data" => @map}})