!!!
%html
  %head
    %title FieldMonster.com
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = yield :head
    = stylesheet_link_tag :application
    = stylesheet_link_tag "fullcalendar/fullcalendar"
    = javascript_include_tag :application
    = csrf_meta_tags
  %body{:class => params[:controller]}  
    = render 'shared/header'
    %section#container.container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_\#{name}", :class => "alert-message info" if msg.is_a?(String)
      #main{:role => "main"}
        = yield
    = render 'shared/footer'
    = yield :scripts